---
import Layout from '../layouts/Layout.astro';

const notes = await Astro.glob('../components/*.mdx')
---

<Layout>
	<header>
		<h1>Functional Programming</h1>
	</header>
	<main>
		{notes.map(component => {
			const Content = component.Content
			return <Content />
		})}
	</main>
	<footer>
		<a>Code Repo</a>
	</footer>
</Layout>

<style>

</style>
