---
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<header>
		<h1>Functional Programming</h1>
	</header>
	<main>

	</main>
	<footer>
		<a>Code Repo</a>
	</footer>
</Layout>

<style>

</style>
